<!DOCTYPE html>
<html>
  <head>
    <title>Video</title>

    <link href="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/video.css' />
  </head>
  <body>
    <video
      id="demo-player"
      autoplay loop
      class="cld-video-player"
      crossorigin="anonymous">
    </video>

    <!-- Cloudinary -->
    <script src="https://unpkg.com/cloudinary-core/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js" type="text/javascript"></script>
    <script src="https://rawgit.com/yanwsh/videojs-panorama/master/dist/videojs-panorama.v5.js" type="text/javascript"></script>

    <script type="text/javascript">
      window.videoTransforms = '<%= videoTransforms %>';
    </script>
    <script src="/js/video.js" type="application/javascript"></script>
  </body>
</html>
