body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("/img/Dreamna.jpg") center center fixed;
}

a {
  color: #00B7FF;
}

#question1 {
  display: none;
}
