/* body { */
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* background: url("/img/Dreamna.jpg") center center fixed; */
/* } */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

a {
  color: #00B7FF;
}

#demo-player {
  width: 100vw;
  height: calc( 100vw * (9/16) );
}

#container {
  position: absolute;
  top: 0;
  left: 0;
}

#question1 {
  display: none;
}
